body {
    background-color: rgb(185, 183, 189);
    margin: 0;
    padding: 0;
  }

  .title {
    font-size: xx-large;
  }
  
  body header {
    color: rgb(226, 199, 45);
    background-color: #29035a;
    margin: 0 auto;
    height: 50px;
  }
  
  header h2 {
    padding: 10px;
    margin: 0;
    display: inline;
  }
  
  main {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px; */
    color: #29035a;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  div.card {
    background-color: #eeeeee;
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
  }
  
  p {
    font-size: 1em;
    font-family: Helvetica;
    margin: 1px;
    padding: 1px;
  }
  
  li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
  }

  span.session-btns {
    float: right;
    padding: 10px;
  }

  main span {
    display: inline-block;
  }
  
  button {
    font-size: 1em;
    color: #29035a;
    background-color: rgb(226, 199, 45);
    border-radius: 10px;
  }
  
  button.delete {
    background-color: #E1332D;
  }
  
  @media only screen and (min-width: 500px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  label{
    display: inline-block;
    clear: left;
    width: 28%;
    text-align: right;
  }
  input {
    display: inline-block;
    clear: right;
  }

  input.user-login {
    float: right;
  }
  #user-signup {
    float: right;
  }
  .hideable-form {
    float: right;
    padding: 7px;
    border-style: groove;
  }
  #signup-div {
    width: 252px;
  }

  .hidden {
    display: none;
  }

  #game-event-display{
    overflow: auto;
    max-height: 70vmax
  }